.board-form-box {
   width: 544px;
}

.board-edit-cover {
   width: 990px;
   max-height: calc(100vh - 32px);
   overflow: hidden;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   z-index: 10;
   background-color: white;
   border-radius: 12px;
   margin-left: 16px;
   margin-right: 16px;
   outline: none;
}

.board-delete-confirm-form {
   width: 380px;
   .body {
      padding: 21px;
      color: #333;
      font-size: 14px;
      line-height: 21px;
      padding: 21px;
      border-bottom: 1px solid var(--color-lightest-gray);
      p {
         font-size: 16px;
      }
   }
}

.button-group-right {
   display: flex;
   justify-content: flex-end;
}

.board-form-box,
.board-delete-confirm-form {
   flex: 1 1 auto;
   .header {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 50px;
      padding-right: 50px;
      border-bottom: 1px solid var(--color-lightest-gray);
   }

   // .body {
   //    flex: 1 1 auto;

   // }

   .close-btn {
      position: absolute;
      right: 5px;
      top: 5px;
      width: 40px;
      height: 40px;
      background: white;
      color: #8e8e8e;
   }

   .board-name {
      &:focus {
         outline: 0;
         box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
      }
      &:valid {
         border-color: var(--color-wyg);
         box-shadow: none;
      }

      &:invalid:required {
         box-shadow: 0 0 0 4px rgba(230, 0, 35, 0.5);
         border-color: #e60023;
      }
   }

   .error-text {
      font-size: 16px;
      margin-left: 130px;
      margin-top: 10px;
   }

   .board-visibility {
      align-items: center;
      flex-wrap: wrap;
      box-sizing: border-box;
      display: flex;

      .secret {
         display: flex;
         align-items: center;
         a {
            text-decoration: none;
            color: #333;
            font-weight: 700;
         }
      }

      .secret-box {
         margin-right: 12px;
      }
   }

   p {
      padding-bottom: 12px;
      padding-top: 12px;
      padding-left: 4px;
      padding-right: 4px;
      font-size: 14px;
      display: inline-block;
   }

   .button-footer {
      .button-group-create {
         display: flex;
         justify-content: flex-end;
      }

      .button-group-edit {
         display: flex;
         justify-content: space-between;
      }
   }
}

.board-field {
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 14px;
   padding-right: 14px;
   margin-top: 6px;
   border-bottom: 1px solid var(--color-lightest-gray);
   input {
      width: 75%;
   }
   p {
      width: 25%;
      box-sizing: border-box;
   }
   .secret {
      font-size: 12px;
   }
}

// Board Pins
.bp-create-form-container {
   width: 804px;

   .bp-create-form {
      flex: 1 1 auto;

      .bp-create-form-header {
         padding: 20px 50px;
         display: flex;
         flex-direction: row;
         justify-content: center;
         border-bottom: 1px solid var(--color-lightest-gray);

         .close-btn {
            position: absolute;
            right: 5px;
            top: 5px;
            padding: 8px;
            background-color: transparent;
         }
      }

      .bp-create-form-body {
         display: flex;
         height: 660px;

         .bp-form-left {
            width: 40%;
            text-align: center;
            border-right: 1px solid var(--color-lightest-gray);

            .bp-form-pic {
               width: 216px;
               margin-top: 12px;
               border-radius: 8px;
            }
         }

         .bp-form-right {
            width: 60%;

            p {
               font-size: 14px;
               font-weight: 400;
               letter-spacing: -.4px;
               margin-left: 12px;
               padding-top: 6px;
            }

            .dd-list {
               position: static;
               border: none;
               box-shadow: none;
               width: 100%;
            }
         }
      }
   }
}

// Board Edit Cover
.slider-wrapper {
   overflow: hidden;
   height: 300px;
   margin: 15px;
   position: relative;
   .bg {
      overflow: hidden;
      position: absolute;

   }
   .mask {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      span {
         background: #fff;
         opacity: .9;
         position: absolute;
      }
   }
   .frame {
      box-shadow: 0 2px 3px rgba(34,25,25,.3), inset 0 0 0 1px rgba(0,0,0,.3);
      position: absolute;
   }
}
