// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-container {
    // height: 100%;
    // width: 100%;
    // position: absolute;
    // top: 0px;
    // overflow: hidden;
}

.data-grid-images {
    max-width: 2500px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    padding: 24px 20px;
    // background-image: url('/data-grid-image-high.png');
    background-image: image-url('data-grid-image-high');
    background-size: cover;    
}

.data-grid-opacity {
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 1;
    position: fixed;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
}

.logo {
    background-image: url('/logo.png');
    width: 72px;
    height: 72px;
    margin: 5px auto;
}

.login-form-container {    
    width: 440px;
    min-height: 533px;    
    align-self: center;
    padding-top: 10px;
}

.login-form-box {    
    p {
        text-align: center;    
        color: rgb(51, 51, 51);
        margin-top: 25px;
        &.title {    
            font-size: 32px;
            font-weight: bold;
            -webkit-font-smoothing: antialiased;
            letter-spacing: -1.2px;
            margin: 15px auto 25px;
            width: 300px;        
        }
        &.sub-title {                  
            font-size: 16px;
            font-weight: normal;
            margin: -15px 0px 25px;
        }
    }
    .form-fields-wrapper {
        margin: 0px auto; 
        width: 268px;
    }
    .form-fields {
        margin: 0px auto;
        width: 268px;
    }
    span {
        display: block;
        margin-top: 15px;
        font-size: 11px;
        font-weight: normal;
        text-align: center;
        color: rgb(170, 170, 170);        
    }
    a {
        color: #717171;
        font-weight: bold;
        text-decoration: none;
    }
    .bottom-button {
        background-color: #28b1ff;
    }    
}

.input-field {
    text-align: center;
    margin-bottom: 1em;
}

.drop-down {    
    stroke: rgb(239, 239, 239);
    visibility: hidden;
    top: 65px;
    right: 0px;    
    position: absolute;
    .frame{
        background-color: white;
        color: white;
        width: 230px;
        min-height: 40px;
        max-height: 90vh;
        max-width: 90vw;
        border: 1px solid;
        box-shadow: 0 3px 6px rgba(0,0,0,.18);
        outline: none;
        border-radius: 8px;
        .list {
            overflow: hidden;
            cursor: pointer;
            .create-board, .create-pin {
                color: #333;
                padding: 16px;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: -.4px;
                hyphens: auto;
                word-wrap: break-word;
            }
        }
    }
}

.show {
    visibility: visible;
}

.create-board, .create-pin {
    cursor: pointer;    
}

.boards {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.tab-list {
    max-width: 767px;
    margin-bottom: 4px;
    margin: 0 auto;
    nav {
        display: flex;
        flex-direction: row;
        width: 300px;
        button {
            width: 90px;
            min-height: 40px;
            border-radius: 999px;
            padding: 8px 16px;
            font-weight: 700;
            margin-right: 10px;
            color: #8e8e8e;      
            background-color: white;      

            &:hover, &:focus {
                color: #262626;
                text-decoration: underline;
                box-shadow: 0 0 0 4px rgba(0,132,255,.5);
                outline: 0;
            }
        }     
        button.active {
            color: #262626;
            background-color: rgba(0, 0, 0, 0.03);
        }   
    }
}
