// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./inherit.scss";

// form button
.form-primary {
    @include form-button;
    @include primary-button;  
    &:hover {
        filter: brightness(85%);
    }  
}

.form-secondary {
    @include form-button;
    @include secondary-button;    
    &:hover {
        filter: brightness(85%);
    }
}

.form-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
}

.data-grid-opacity {
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 1;
    position: fixed;
    // overflow: auto;
    // display: flex;
    // flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
}

.login-form-container {    
    width: 440px;
    min-height: 533px;    
    align-self: center;
    padding-top: 10px;


    .login-form-box {    
        .logo {
            background-image: url(/logo.png);
            width: 72px;
            height: 72px;
            margin: 5px auto;
        }
        p {
            text-align: center;    
            color: rgb(51, 51, 51);
            margin-top: 25px;
            &.title {    
                font-size: 32px;
                font-weight: bold;
                -webkit-font-smoothing: antialiased;
                letter-spacing: -1.2px;
                margin: 15px auto 25px;
                width: 300px;        
            }
            &.sub-title {                  
                font-size: 16px;
                font-weight: normal;
                margin: -15px 0px 25px;
            }
        }
        .form-fields-wrapper {
            margin: 0px auto; 
            width: 268px;
        }
        .form-fields {
            margin: 0px auto;
            width: 268px;
        }
        span {
            display: block;
            margin-top: 15px;
            font-size: 11px;
            font-weight: normal;
            text-align: center;
            color: rgb(170, 170, 170);  
            line-height: 14px;      
        }
        a {
            color: #717171;
            font-weight: bold;
            text-decoration: none;
        }
        .bottom-button {
            background-color: #28b1ff;
        }    
    }
}

.input-field {
    text-align: center;
    margin-bottom: 1em;
}

.drop-down {    
    stroke: rgb(239, 239, 239);    
    .frame{
        background-color: white;
        color: white;
        width: 230px;
        min-height: 40px;
        max-height: 90vh;
        max-width: 90vw;
        border: 1px solid;
        box-shadow: 0 3px 6px rgba(0,0,0,.18);
        outline: none;
        border-radius: 8px;
        .list {
            overflow: hidden;
            cursor: pointer;
            .create-board, .create-pin {
                color: var(--color-pBj);
                padding: 16px;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: -.4px;
                hyphens: auto;
                word-wrap: break-word;
                a {
                    display: block;
                }
            }
        }
    }
}

.create-board, .create-pin {
    cursor: pointer;    
}

.boards {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.tab-list {    
    margin-bottom: 4px;
    margin: 0 auto;
    nav {
        display: flex;
        flex-direction: row;
        width: 300px;
        button {
            width: 90px;
            min-height: 40px;
            border-radius: 999px;
            padding: 8px 16px;
            font-weight: 700;
            margin-right: 10px;
            color: var(--color-wyg);     
            background-color: white;      

            &:hover, &:focus {
                color: #262626;
                text-decoration: underline;
                box-shadow: 0 0 0 4px rgba(0,132,255,.5);
                outline: 0;
            }
        }     
        button.active {
            color: #262626;
            background-color: rgba(0, 0, 0, 0.03);
        }   
    }
}

.image-preview-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    .trash-wrapper {
        position: absolute;
        left: -23px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
        border-radius: 50%;
        margin: 4px;
        padding: 4px;
        background-color: var(--color-surface);
        button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 0;
            div {
                border-radius: 50%;
                cursor: pointer;
                svg {
                    color: var(--color-pBj);
                }
            }
            &:hover, &:focus {
                background-color: var(--color-lighter-gray);
            }
        }        
    }
}