/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 :root {
  --color-surface: white;
  --color-solid: black;
  --color-pBj: #333;
  --color-wyg: #8e8e8e;
  --color-primary: #005c9d;
  --color-secondary: #28b1ff;
  --color-error: #e60023;
  --border-color: "#8e8e8e";
  --color-text: rgb(51, 51, 51);  
}

html, body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: rgb(33, 25, 34);
    font-size: 12px;
}

html {
    text-size-adjust: none;
}

h5 {
    color: #333;
    letter-spacing: -.4px;
    font-size: 36px;
}

button, input {
    overflow: visible;
    line-height: normal;
}

button {
    border: 0px;
    height: 36px;
    display: inline-block;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    padding: 0px 18px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-surface);
    width: 100%;
} 

input {
    box-sizing: border-box;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-wyg);
    padding: 8px 14px;
}

input[type=text], input[type=password] {
    cursor: text;
    color: var( --color-pBj);
    width: 100%;    
}

input[type=text]:focus, input[type=password]:focus {
    outline: 5px auto -webkit-focus-ring-color;    
}

div {
    box-sizing: border-box;
}

:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

li {
    list-style: none;
}

.modal-main {    
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;    
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-text {
    color: #e60023;
    font-size: 14px;
    text-align: left;
}

/* html {
  background: var(--color-surface);
  color: var(--color-solid);
}
input[type=text], input[type=email], input[type=password] { 
    cursor: text;
    border-color: var(--border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 8px 14px;
    color: var(--color-pBj);
    background-color: var(--color-surface);
    width: 100%;
    letter-spacing: -.4px;
    font-size: 16px;
    min-height: 40px;
    -webkit-font-smoothing: antialiased;
}

button, input {
    overflow: visible;
    line-height: normal;
}



button {
  background: var(--color-primary);
  color: var(--color-surface);
  border: 0;
  padding: 8px 16px;
  font-size: 1.2rem;
  border-radius: 4px;
  width: 100%;
} */
