.dd-wrapper {
   width: 236px;
   position: relative;
   border-radius: 8px;
   z-index: 1;

   .dd-header {
      align-items: center;
      background-color: rgb(239, 239, 239);
      border: none;
      cursor: pointer;
      display: flex;
      flex-grow: 1;
      height: 40px;
      justify-content: space-between;
      min-width: 0px;
      outline: 0px;
      padding-left: 14px;
      position: relative;
      border-radius: 8px;

      .dd-header-left {
         display: flex;
         justify-content: space-between;
         max-width: 100%;
         align-items: center;
         width: 67%;

         .dd-header-title {
            color: #8e8e8e;
            font-size: 16px;            
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            hyphens: auto;
            word-wrap: break-word;
            font-weight: 400;
            letter-spacing: -.4px;
         }
         svg {
            color: #111;
         }
      }
      .dd-header-right {    
         svg {
            color: #111;    
            padding-right: 14px;        
         }     
         // .dd-list-save {
         //    background-color: var(--color-primary);
         //    border: none;
         //    border-radius: 0px 8px 8px 0px;
         //    cursor: pointer;
         //    flex: 0 0 auto;
         //    height: 40px;
         //    outline: 0px;
         //    padding: 0px 14px;            
         //    color: var(--color-surface);
         // }
      }
   }

   .dd-list {
      position: absolute;
      stroke: rgb(239, 239, 239);
      visibility: visible;
      top: 52px;
      left: 0;      
      .dd-list-item {                  
         list-style: none;         
         border-radius: 0;
         cursor: pointer;
         height: 52px;
         margin: 4px 12px;
         display: flex;
         flex-direction: row;
         align-items: center;

         .dd-list-item-img-wrapper {
            width: 36px;
            height: 36px;
            border-radius: 8px;
            margin: 4px 12px 4px 8px;

            .dd-list-item-img {
               width: 36px;
               height: 36px;
               border-radius: 0;
               position: relative;
               overflow: hidden;

               img {
                  background-color: transparent;
                  background-size: cover;
                  background-position: 50%;
                  background-repeat: no-repeat;
                  height: 100%;
                  width: 100%;
                  cursor: pointer;
               }
            }
         }

         .dd-list-item-text-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex: 1 1 auto;
            min-height: 0;
            min-width: 0;
            overflow: hidden;
            padding-bottom: 4px;
            padding-top: 4px;
            .dd-list-item-text {
               color: #111;
               font-size: 16px;
               max-width: 100%;
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;
               hyphens: auto;
               line-height: 40px;
               word-wrap: break-word;
               font-weight: 700;
               letter-spacing: -.4px;
               cursor: pointer;
            }
            .dd-list-item-link {
               .dd-list-save {
                  border-radius: 8px;
                  margin-right: 8px;
               }
            }
         }

         &:hover, &:focus {
            border-radius: 12px;
            background-color: var(--color-lightest-gray);
         }
      }

      
   }

   .dd-list-wrapper {
      position: absolute;
      stroke: rgb(239, 239, 239);
      visibility: visible;
      top: 15px;
      left: -166px;
      min-height: 40px;
      max-height: 90vh;
      max-width: 90vw;

      ul.dd-list {
         min-height: 322px;
         max-height: 322px;
         max-width: 90vw;
         border: 1px solid;
         box-shadow: 0 3px 6px rgba(0,0,0,.18);
         outline: none;
         border-radius: 8px;
         background-color: #fff;
         color: #fff;
         width: 320px;
         height: 439px;
         overflow-x: hidden;
         overflow-y: scroll;

         li.add-list-item {            
            height: 52px;
            border-radius: 12px;
            margin: 12px 4px;
            align-items: center;
         }
      }
   }   
}

.dd-list-save {
   background-color: var(--color-primary);
   border: none;
   border-radius: 0px 8px 8px 0px;
   cursor: pointer;
   flex: 0 0 auto;
   height: 40px;
   outline: 0px;
   padding: 0px 14px;            
   color: var(--color-surface);
}

