@import "./inherit.scss";
// User

.tilted-pins {
    background-color: rgb(249, 249, 247);
    background-image: image-url('user-tilted-pins.png');
    height: 200px;
}

.user-profile-detail-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.user-profile-avatar {
    width: 30%;    
    min-width: 97px;
    max-width: 200px;
    .-pos {
        top: -52px;
        position: relative;
        .-shadow-wrapper {
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 0 0 5px #fff;            
        }
    }
}

.profile-add-board-pin {
    top: 65px;
    right: 0px;    
    position: absolute;
}

.board-show-add-pin {
    position: absolute;
    top: 110px;
    // left: 150px;
    left: 100px;
}

.add-pin {
    display: block;
    color: var(--color-pBj);
    text-decoration: none;
}

.user-profile-image {
    color: transparent;
    width: 100%;    
    min-width: 97px;
    height: auto;
    vertical-align: middle;
    border: 0;
    border-radius: 50%
}

.user-profile-detail {
    width: 75%;
    align-self: flex-start;
    margin-left: 35px;
    margin-top: 15px; 
}

.user-boards-pins-count {
    display: flex;
    margin-top: 20px;
    font-size: 1.5em;
}

.add-board-pin {
    border-radius: 50%;
    height: 40px;
    width: 40px;    
    padding: 0;
    background-color: var(--color-lightest-gray);
    margin-top: 10px;
    &:hover, &:active, &:focus {
        background-color: var(--color-light-gray);
    }
}   

// Board

.boards-count {
    margin-right: 30px;    
}

.boards-count-title {
    color: #8e8e8e;
}
.boards-count-number {
    font-size: 1.75em;
}

.board-index-container {
    padding: 0 40px;
    .board-index {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
        
        grid-gap: 15px;
        margin: 0 auto;
        max-width: 1680px;
        justify-items: center;
        .board-index-item {
            width: 100%;
            height: 100%;
            padding: 8px;
            .board-item-content {
                width: 100%;
                height: 100%;
                
                position: relative;
                a {                
                    display: block;
                    outline: 0;
                    transition: transform 0.2s ease-out 0s;
                    height: 100%;
                    text-decoration: none;    
                    .board-item-box {            
                        width: 100%;
                        height: 100%;
                        transform: translateX(0px) ttranslateY(0px);
                        .board-cover {
                            width: 100%;
                            
                            border-radius: 8px;
                            will-change: transform;
                            overflow: hidden;
                            display: flex;
                            flex-direction: row;
                            

                            .bg-cover {
                                background-color: rgba(0, 0, 0, 0.03) !important; 
                                background-size: cover !important;
                                background-position: center !important;
                            }
                        }
                        .board-info {
                            letter-spacing: -.4px;
                            text-align: center;
                            margin-top: 12px;                    
                            h2{
                                font-weight: 700;
                                color: #333;
                                font-size: 21px;
                                max-width: 100%;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;   
                                hyphens: auto;                     
                                word-wrap: break-word;                        
                            }
                            .board-secret-pin {
                                justify-content: center; 
                            }
                        }
                        
                        &:focus, &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            &:hover, &:focus {
                background-color: rgba(0, 0, 0, 0.07);    
                border-radius: 8px;
            }
        }
    }
}

.board-item-content .edit-button {
    position: absolute;
    right: 0;
    bottom: 0;    
    width: 40px !important;
    height: 40px !important;
}

div.svg-40 {
    width: 40px !important;
    height: 40px !important;        
    &:hover, &:focus {        
        border-radius: 50%;        
        background-color: #d1d1d1;            
        outline: 0;            
    }
}

//  Pin
.toolbar {       
    width: 100%;
    height: 64px;
    margin: auto;
    .toobar-wrapper {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;        
    }    
}

.board-pins-header {
    margin: auto;
}

.total-pins {    
    span {
        font-weight: 700;
    }
}

.p-item {
    background: rgba(0, 0, 0, 0.03);    
}

.border-line {
    margin-right: 2px;
    margin-bottom: 2px;
}

.pin-index-container {    
    display: flex;
    justify-content: center;
    overflow: scroll; 
    width: 100%;    
    column-gap: 18px;    
    .pin-index {
        transition: opacity .5s ease-in-out;
        padding-top: 1.5em;           
        max-width: 100%;                                  
        .pin-index-item {
            margin-bottom: 20px;
            position: relative;
            width: 236px;
            .pin-content-img {
                position: relative;
                filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
                transition: filter .25s ease-in-out;
                border-radius: 16px;
                overflow: hidden;
                display: inline-block;
                vertical-align: top;
                cursor: zoom-in;
                .pin-img {
                    position: relative;
                    border-radius: 8px;
                    overflow: hidden;
                    max-width: 100%;
                    vertical-align: middle;
                    color: transparent;
                    &::after {
                        font-weight: 700;
                        background-color: rgba(0, 0, 0, .5);                        
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all .1s ease-in;
                    }
                }   
                .pin-edit-link {
                    position: absolute;
                    top: 10px;
                    left: 10px; 

                    button {
                        align-items: center;
                        background-color: var(--color-lightest-gray);
                        border-radius: 50%;                        
                        margin: 0;
                        padding: 0;
                        height: 32px;
                        width: 32px;
                        &:hover {
                            background-color: var(--color-light-gray);
                        }
                    }
                }  
                .pin-save-link {                    
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    button {
                        @include semi-round-button;
                        @include primary-button;
                        padding: 0 14px;
                        height: 32px;                        
                        font-weight: 500;
                        &:hover {                            
                            filter: brightness(85%);
                        }
                    }                    
                }  
                .pin-url-link {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    background-color: white;
                    filter: brightness(95%);
                    padding: 10px;
                    border-radius: 20px;
                    font-weight: 700;
                    width: 140px;   
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &:hover {
                        cursor: pointer;
                        filter: brightness(100%);
                    }                 
                }   
                span {
                    vertical-align: middle;
                }      
            }
            .pin-content-title {    
                display: inline-block;                
                font-size: 15px;                
                max-width: 200px;
                font-weight: 700;
                margin-top: 10px;
                line-height: 1.2em;
            }
            
        }
    }

}

button {
    outline: 0;
}

.save-btn {
    align-items: center;
    background-color: --color-secondary;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;    
    height: 40px;
    padding: 10px 14px;
    font-size: 15px;
}

.board-secret-pin {
    display: flex;
    flex-direction: row;
    align-items: center;                                   
    margin-top: 6px;
    svg {
        margin-right: 8px;
        color: var(--color-pBj);
    }
    p {                        
        color: #8e8e8e;
        font-size: 14px;                            
        word-wrap: break-word;
        font-weight: 400;                                    
    }
}

//Footer
.footer {
    position: fixed;
    bottom: 15px;
    right: 15px;
    
    .footer-nav {
        justify-content: center;        
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-links {        
        background-color: #FFFFFF;        
        margin-bottom: 8px;
        border-radius: 50%;
        box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), 0 0 0 0.5px rgba(0,0,0,0.04);
        cursor: pointer;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
            width: 40px;
            height: 40px;
            opacity: 0.65;
        }
    }
}

