// User

.tilted-pins {
    background-color: rgb(249, 249, 247);
    background-image: image-url('user-tilted-pins.png');
    height: 300px;
}

.user-profile-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.user-avatar {
    width: 20%;    
    .-pos {
        top: -52px;
        position: relative;
        .-shadow-wrapper {
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 0 0 5px #fff;            
        }
    }
}

.profile-add-board-pin {
    top: 65px;
    right: 0px;    
    position: absolute;
}

.board-show-add-pin {
    position: absolute;
    top: 110px;
    left: 150px;
}

.user-profile-image {
    color: transparent;
    width: 100%;    
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    border-radius: 50%
}

.user-profile-detail {
    width: 75%;
    align-self: flex-start;
    margin-left: 35px;
    margin-top: 15px;
    flex-direction: flex;
}

.user-boards-pins-count {
    display: flex;
    margin-top: 20px;
    font-size: 1.5em;
}

.add-board-pin {
    border-radius: 50%;
    height: 42px;
    width: 42px;    
    padding: 0;
    background-color: #ddd;
    &:hover, &:active, &:focus {
        box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
        outline: none;
    }
}   

// Board

.boards-count {
    margin-right: 30px;    
}

.boards-count-title {
    color: #8e8e8e;
}
.boards-count-number {
    font-size: 1.75em;
}


.b-item-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    grid-gap: 30px;
    margin: 0 auto;
    max-width: 1620px;
    justify-items: center;
    .b-item-content {
        width: 100%;
        height: 100%;
        padding: 8px;
        .b-item {
            width: 100%;
            height: 100%;
            min-height: 264px;
            position: relative;
            a {                
                display: block;
                outline: 0;
                transition: transform 0.2s ease-out 0s;
                height: 100%;
                text-decoration: none;    
                div {            
                    width: 100%;
                    height: 100%;
                    transform: translateX(0px) ttranslateY(0px);
                    .board-cover {
                        width: 100%;
                        height: 264px;
                        border-radius: 8px;
                        will-change: transform;
                        overflow: hidden;
                        display: flex;
                        flex-direction: row;
                        

                        .bg-cover {
                            background-color: rgba(0, 0, 0, 0.03) !important; 
                            background-size: cover !important;
                            background-position: center !important;
                        }
                    }
                    .board-info {
                        letter-spacing: -.4px;
                        text-align: center;
                        margin-top: 12px;                    
                        h2{
                            font-weight: 700;
                            color: #333;
                            font-size: 21px;
                            max-width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;   
                            hyphens: auto;                     
                            word-wrap: break-word;                        
                        }
                        p {                        
                            color: #8e8e8e;
                            font-size: 14px;                            
                            word-wrap: break-word;
                            font-weight: 400;
                            margin-top: 6px;
                        }
                    }
                    
                    &:focus, &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        &:hover, &:focus {
            background-color: rgba(0, 0, 0, 0.07);    
            border-radius: 8px;
        }
    }
}

.b-item .edit-button {
    position: absolute;
    right: 0;
    bottom: 0;    
    width: 40px !important;
    height: 40px !important;
}

div.svg-40 {
    width: 40px !important;
    height: 40px !important;        
    &:hover, &:focus {        
        border-radius: 50%;        
        background-color: #d1d1d1;            
        outline: 0;            
    }
}

//  Pin
.toolbar {       
    width: 100%;
    height: 64px;
    margin: auto;
    .toobar-wrapper {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;        
    }    
}



.board-pins-header {
    margin: auto;
}

.total-pins {
    margin-top: 5px;
    span {
        font-weight: 700;
    }
}

.p-item {
    background: rgba(0, 0, 0, 0.03);    
}

.border-line {
    margin-right: 2px;
    margin-bottom: 2px;
}

.pins {    
    display: flex;
    justify-content: center;
    overflow: scroll; 
    .pin-index {
        transition: opacity .5s ease-in-out;
        padding-top: 1.5em;           
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;     
                  
        .pin {
            margin-bottom: 20px;
            .pin-item {
                position: relative;
                filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
                transition: filter .25s ease-in-out;
                border-radius: 4px;
                overflow: hidden;
                display: inline-block;
                vertical-align: top;
                margin-bottom: 10px;
                .pin-item-img {
                    position: relative;
                    border-radius: 8px;
                    overflow: hidden;
                    max-width: 100%;
                    vertical-align: middle;
                    &::after {
                        font-weight: 700;
                        background-color: rgba(0, 0, 0, .5);                        
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all .1s ease-in;
                    }
                }                
            }
            .pin-item-title {    
                display: inline-block;                
                font-size: 15px;                
                max-width: 200px;
                font-weight: 700;
            }
        }
    }

}

button {
    outline: 0;
}

.save-btn {
    align-items: center;
    background-color: --color-secondary;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;    
    height: 40px;
    padding: 10px 14px;
    font-size: 15px;
}


