.navbar {      
    display: flex;        
    height: 56px;    
    box-sizing: border-box;
    // border-bottom: 1px solid rgb(204, 204, 204);
    font-size: 16px;

    .navbar-content {
        padding: 4px 12px;   
        width: 100%;
        display: flex;        
        flex-direction: row;        
        justify-content: space-between;

        span.pin-travel {                  
            align-items: center;
            font-weight: 600;
            color: #333;
            // padding-bottom: 5px;
            font-size: 1.5em;
        }

        .left-nav {
            display: flex;
            align-items: center;
            // font-weight: 700;
            // color: #b5b5b5;
            // padding-bottom: 5px;
            // width: 25%;
            .logo {
                width: 48px;
                height: 48px;
                align-items: center;
                justify-content: center;
                display: flex;
                padding: 0;                
                img {
                    width: 28px;
                    height: 28px;
                }
            }
        }

        .right-nav {
            display: flex;
            align-items: center;
            font-weight: 700;
            color: #b5b5b5;                        
            span.fname {
                margin-left: 10px;
                color: #333;
            }
            a {
                // margin-left: 15px;                
                img.user-img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }                
            }               
        }

        .right-nav-session {
            .button {
                width: 128px;
                height: 40px; 
                padding: 0;  
                line-height: 36px;                  
            }  
            .form-primary {
                margin-right: 20px;
            }  
            .form-primary:focus, .form-primary:hover {
                background-color: #005c9d;
                border-radius: 4px;           
            }
            .form-secondary:focus, .form-secondary:hover {
                background-color: #28b1ff;
                border-radius: 4px;           
            }
        }


        a {
            text-decoration: none;
            padding: 12px;
            cursor: pointer;
            img {
                width: 48px;
                height: 48px;
                // background-image: url('/logo.png');
                background: content-box;
                ;
            }
            &:hover, &:focus {
                background: transparent;
                background-color:#faf9f9;
                border-radius: 999px;
                transition: transform 0.2s ease-out 0s;
                color: #262626;
                // padding: 12px;
            }
            &:active, &:hover {
                outline: 0;
            }
        }        
    }
}       

