// 5 columns
@media all and (min-width: 1526px) {
    // Home is dissapear
    // column count: 4 columns grid
    html, body {
        font-size: 12pt;
    }
    .user-profile-detail-container, .tab-list {
        max-width: 1024px;
    }        
    .pin-index-container .pin-index, .toolbar {
        columns: 6;               
    }
    .pin-index-container .pin-index, .toolbar, .board-pins-header {
        width: 1525px;
        min-width: 985px;
    }
    .board-name, .board-visibility {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 14px;
        padding-right: 14px;
        input {
            width: 75%; 
        }
        p {
            width: 25%; 
            box-sizing: border-box;            
        }
        .secret {
            font-size: 14px;
        }
    }     

    .pin-show-wrapper {
        width: 1016px;
        .pin-show-box {            
            flex-direction: row;
            .pin-show-content-top {
                width: 65%;
            }
            .pin-image {
                border-radius: 32px 0 0 32px;
            }
        }
    }
}

// 5 columns
@media all and (max-width: 1525px) and (min-width: 1272px) {          
    .user-profile-detail-container, .tab-list {
        max-width: 1005px;
    }

    .pin-index-container .pin-index, .toolbar {
        columns: 5;        
    }

    .pin-index-container .pin-index, .toolbar, .board-pins-header {    
        width: 1272px;
    }
    
    .pin-form {
        width: 533px;
    }

    .tilted-pins {
        
    }

    .user-boards-pins-count {
        font-size: 0.9em;
    }

    .pin-show-wrapper {
        width: 1016px;
        .pin-show-box {            
            flex-direction: row;
            .pin-show-content-top {
                width: 65%;
            }
            .pin-image {
                border-radius: 32px 0 0 32px;
            }
        }
    }
}

// 4 columns
@media all and (max-width: 1271px) and (min-width: 1018px) {    
    // 3 columns grid
    .user-profile-detail-container, .tab-list {
        max-width: 768px;
    }    
    .pin-index-container .pin-index, .toolbar {
        columns: 4;        
    }
    .pin-index-container .pin-index, .toolbar, .board-pins-header {
        width: 1018px;        
    }
    .pin-show-wrapper {
        max-width: 740px;
        .pin-show-box {            
            flex-direction: row;
            .pin-show-content-top {
                width: 65%;
            }
            .pin-image {
                border-radius: 32px 0 0 32px;
            }
        }
    }
      
}

// 3 columns
@media all and (max-width: 1017px) and (min-width: 764px) {    
    // 2 columns grid
    .user-profile-detail-container, .tab-list {
        max-width: 724px;
    }    
    .pin-index-container .pin-index, .toolbar {
        columns: 3;        
    }
    .pin-index-container .pin-index, .toolbar, .board-pins-header {
        width: 764px;
    }
    .pin-form {
        width: 544px;
    }
    .pin-show-wrapper {
        max-width: 740px;
        .pin-show-box {            
            flex-direction: column;
            .pin-image {
                border-radius: 32px 32px 0 0;
            }
        }
    }
}

// 2 columns
@media all and (max-width: 763px) and (min-width: 510px) {    
    // 2 columns grid
    .user-profile-detail-container, .tab-list, .pin-index-container  .pin-index, .toolbar, .board-pins-header {
        width: 510px;
    }    
    .pin-index-container  .pin-index, .toolbar  {
        columns: 2;            
    }
    .pin-form {
        width: 533px;
    }
    .tilted-pins {
        height: 25vh;
    }
    .pin-show-wrapper {
        max-width: 740px;        
        .pin-show-box {            
            flex-direction: column;
            .pin-image {
                border-radius: 32px 32px 0 0;
            }
        }
    }
}

// 1 columns
@media all and (max-width: 509px) {    
    // 2 columns grid
    .user-profile-detail-container, .tab-list, .toolbar, .board-pins-header {     
        width: 90vw;
    }

    .tilted-pins {
        height: 20vh;
    }

    .pin-index-container  .pin-index { 
        width: 236px;
    }

    .pin-index-container {
        columns: 1;            
    }
    .pin-form {
        width: 533px;
    }
    .user-boards-pins-count {
        font-size: 0.9em;
    }
    .pin-show-wrapper {
        max-width: 740px;
        .pin-show-box {            
            flex-direction: column;
            .pin-image {
                border-radius: 32px 32px 0 0;
            }
        }
    }
}
