// Large screens 
@media all and (min-width: 1024px) {
    // Home is dissapear
    // column count: 4 columns grid
    html, body {
        font-size: 12pt;
    }
    .user-profile-container, .tab-list {
        max-width: 1024px;
    }    
    .b-item-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));        
    }
    .pins .pin-index {
        columns: 6;
        column-gap: 18px;
        max-width: 1512px;
    }
    .board-name {
        input {
            width: 75%; 
        }
        p {
            width: 25%; 
        }
    }    
}

// Medium screen
@media all and (max-width: 1023px) and (min-width: 768px) {    
    // 3 columns grid
    .user-profile-container, .tab-list {
        max-width: 768px;
    }
    .pin-index {
        columns: 4;
        column-gap: 18px;
        max-width: 767px;
    }
    .board-name {
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 16px;
        padding-right: 16px;
        input {
            width: 75%; 
        }
        p {
            width: 25%; 
        }
    } 
}

// Small screen
@media all and (max-width: 767px) and (min-width: 540px) {    
    // 2 columns grid
    .user-profile-container, .tab-list {
        max-width: 540px;
    }
    .pin-index {
        columns: 3;
        column-gap: 18px;
        max-width: 540px;
    }
    
}

// Very Small screen
@media all and (max-width: 541px) {    
    // 2 columns grid
    .user-profile-container, .tab-list {
        max-width: 360px;
    }
    .pin-index {
        columns: 2;
        column-gap: 15px;
    }
    
}
